/* You can add global styles to this file, and also import other style files */
@import 'font-awesome/css/font-awesome.min.css';

@font-face {
  font-family: '8BitOperator';
  src: url('./assets/fonts/8BitOperator/8bitOperatorPlus8-Regular.ttf')
}

* {
  margin: 0;
  padding: 0;
}

html {
  background: #333;
  color: #bbb;
  font-family: 'Consolas';
}
